@import "_functions";
@import "_mixins";
@import "_variables";

.page-node-type-program-subcategory.page-with-lb {
  .node--type-program-subcategory {

    &.node--lb {
      margin-top: 0;
    }

    .node__content {
      .section-body {
        padding: 80px 0;

        @include media-breakpoint-down('md') {
          padding: 60px 0;
        }
      }
    }
  }


  &.with-banner {
    @include media-breakpoint-down(sm) {
      padding-top: 0 !important;
    }

    #block-openy-carnation-tabs {
      display: block;
    }
  }
}

